body {
    background-image: url("../IMG/fond.png");
    background-repeat: repeat;
    background-size: 50%;
    z-index: 0;
}

h1 {
  color: white;
  font-family: "Calibri", sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size:30px;
}

p {
  font-family: Roboto;
  font-size: 15px;
  text-align: center;
    color: white;
}
img{
    border: 2px solid black;
}

    img:hover {
        border: 2px solid #101010;
    }
h3 {
    text-align: center;
    color: #b94e4a;
    font-family: Roboto;
    font-size: 22px;
}

h5 {
    text-align: center;
    color: lightblue;
    font-family: Roboto;
    font-size: 17px;
}
a {
    color: white;
    font-family: Roboto;
}
button {
    text-decoration-color: white;
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #233e42;
    color: #233e42;
    border: 2px solid black;
    border-radius: 12px;
    z-index: 3;
}
    button:hover {
        background-color: #1f525a;
        color: black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

ul {
    font-family: Roboto;
    font-size: 15px;
}

.layout p {
    color: grey;
    opacity: 35%;
    font: Roboto;
    font-size: 65px;
    text-align: right;
    padding-right: 2%;
    padding-bottom: 2%;
    font-weight: 500;
    z-index: 0;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
